# Exploratory Data Analysis
In this file, we will perform exploratory data analysis to obtain a deeper insight and understanding of the dataset, as well as its individual features. Besides this, we will also perform pre-processing to fix any anomalies within the data.

In [2]:
# Import needed dependencies
import matplotlib as plt
import seaborn as sns
import numpy as np
import pandas as pd

In [6]:
# Load the dataset (PCOS_Infertility)
pcos_df = pd.read_csv("data/PCOS_infertility.csv")
pcos_df.shape

(541, 6)

In [11]:
# Preview dataset
pcos_df.head()

,Sl. No,Patient File No.,PCOS (Y/N),I beta-HCG(mIU/mL),II beta-HCG(mIU/mL),AMH(ng/mL)
0,1,10001,0,1.99,1.99,2.07
1,2,10002,0,60.80,1.99,1.53
2,3,10003,1,494.08,494.08,6.63
3,4,10004,0,1.99,1.99,1.22
4,5,10005,0,801.45,801.45,2.26

In [14]:
# Check datatypes of values
pcos_df.dtypes

Sl. No                      int64
Patient File No.            int64
PCOS (Y/N)                  int64
  I   beta-HCG(mIU/mL)    float64
II    beta-HCG(mIU/mL)    float64
AMH(ng/mL)                 object
dtype: object